
<%- include('header') %>

<div>
    <h3>Collection Per Day</h3>
    <h3>Average Collection Per Day in Month</h3>
</div>

<div>
    <h3>Expense Per Day</h3>
</div>

<div>
    <h3>New Admissions Per Day</h3>
</div>


<%- include('footer') %>