<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>RNK Empire</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
  </head>
  <body class="bg-dark">
      <h1 class="text-center text-light pt-5">Spartan Gym And Spa</h1>
        <a href="http://localhost:3000/login" hidden='true' class="btn btn-light" id="loginBtn">Login</a>
        <center><img src="../images/spartan_logo.jpg"></center>
        <script src="../js/page/loading.js"></script>
  </body>
</html>